= title('contact us')

.row
  .span10
    %h2
      contact us
    %br
    %p
      Have a question for us? Think we’re The Incredibles™? Let us know at
      = mail_to "pinkyandthebrain@oldtownsports.com"

