= title('how it works')

.row
  .span10.offset1.how_it_works
    %h5 So you need us to make this a little clearer for you? We’re on it with a breakdown of the steps and rules for you:

    %ul
      %li
        Create a new league or join an existing league. Existing leagues are invite only.
      %li
        Each week in the playoffs, you will select 1 QB, 1 RB, and 2 WR/TE. Once you have played a player one time, you can no longer ever play that player (don’t hate the player, hate the game? We actually hope you love the game, though). That should be a key component of your strategy, and that’s the last you’re getting.
      %li
        The league settings are set by the creator of the league, so don’t yell at us too much.
      %li
        The competition is purely based on points, not head-to-head matches.
      %li
        Once a player’s game has started, you cannot add or drop them to your roster. You can add and drop players up until game time.
      %li
        We don’t yet have real-time scoring. We’ll get to that once we finish our cave paintings. In the meantime, we’ll update the scoring after the final playoff game each day.


