@import "bootstrap";
@import "bootstrap-responsive";

@import "static";

body{
  background: url(body_noise-vfl_60-qt.png) repeat scroll 0 0 #EBEBEB;
  color: #333333;
}

.hero-unit {
  background-color: #FFFFFF;
}

.btn-success {
  small{
    color: #FFF!important;
  }
}

.panel {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 19px;
  margin-bottom: 20px;
}



footer {
  margin-top: 60px;
  padding-top:20px;
  border-top: 1px solid #D0D0D0;
}


.btn-fantasy-team {
  text-align:left;
  margin-bottom: 20px;

  .fantasy-league-info{
    padding-left:25px;
  }

}

.how_it_works {
  li {
    margin-bottom: 10px;
  }
}

@media (min-width: 979px){
  .btn-block {
    margin-top: 0px!important;
  }

  .btn-create-fantasy-league {
    height: 110px !important;
  }
}

.invitations {
  margin-top: 20px;
}

.table-team {
  thead {

  }
}

.nav-tabs {
  border-bottom: 1px solid #BABABA;
  li.active {
    a, a:hover {
      border-color: #BABABA #BABABA transparent;
      background-color: #D0D0D0;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
    }
  }
  li{
    a:hover{
      background-color: #DDDDDD;
    }
  }
}

.table, .table {
  th, td {
    border-top: 1px solid #BABABA
  }
}

.table-bordered {
  border-color: #BABABA #BABABA #BABABA -moz-use-text-color;
  td, th {
    border-left: 1px solid #BABABA;
  }
}


  .league-settings {
    input {
      vertical-align:top!important;
    }
  }









